
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Rust Build Artifacts
app/src/main/cpp/rust/target/

# Drive Upload Temp
app/.tmp.driveupload/
app/src/main/cpp/rust/target/
